:root {
  --main-bg-color: #1d2635;
  --txt-color-red: #ff073a;
  --txt-color-green: #93c47d;
  --secondary-bg-color: #243042;
}

* {
  box-sizing: border-box;
  font-family: "Josefin Sans";
  
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem purple;
  font-size: 3rem !important;
}

#ukFlag {
  margin-top: 3px;
  width: 81px;
}

#flags {
  display: flex;
  margin-top: 50px;
}

#flags img {
  width: 50px;
  margin: 10px;
}

canvas {
  position: absolute;
  z-index: -1;
}

h1 {
  text-align: center;
}

.landing {
  height: 1270px;
  width: 100%;
  vertical-align: middle;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-link {
  align-items: center;
  justify-content: center;
}

#title {
  margin-bottom: 30px;
  color: red;
  text-shadow: 0.2rem 0.2rem 0.2rem purple;
  font-family: "Kaushan Script", cursive;
  display: block;
  font-size: 4rem !important;
  line-height: 1.3;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.timeline {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--secondary-bg-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -12px;
  background-color: var(--main-bg-color);
  border: 4px solid var(--secondary-bg-color);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--secondary-bg-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--secondary-bg-color);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--secondary-bg-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--secondary-bg-color) transparent transparent;
}

.right::after {
  left: -10px;
}

.content {
  padding: 20px 30px;
  background-color: var(--secondary-bg-color);
  position: relative;
  border-radius: 6px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

@media screen and (max-width: 650px) {

  #projects {
    display: block !important;
  }

  .timeline::after {
    left: 31px;
  }
  #title {
    text-align: center;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid var(--secondary-bg-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary-bg-color) transparent transparent;
  }

  .left::after, .right::after {
    left: 19px;
  }

  .right {
    left: 0%;
  }
}
h2 {
  color: var(--txt-color-green);
  font-family: 'Orbitron';
  font-size: 21px;

}
.subtitle {
  color: lightslategray;
  margin-top: -5px;
}

.description {
  color: whitesmoke;
  font-size: 16px;
}

#projects {
  width: 100%;
  height: 1280px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.card {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  width: 400px;
  height: 500px;
  margin: 50px;
}

.card:hover {
  box-shadow: 0 .1rem 1rem var(--txt-color-green) !important;
}

.card img {
  width: 100%;
  height: 60%;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 2rem;
}

.card-body h2{
  font-family: 'Orbitron';
}

span {
  background-color: white;
  padding:4px ;
  border-radius: 5px;
  font-family: 'Mooli';
  font-weight: bold;
  font-size: 11px;
  border: solid 1px;
  margin-right: 5px;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  #projects {
    grid-template-columns: auto auto;
  }
}